<% if obj.is_liked?(current_user) %>
  <%= link_to unlike_product_path(obj), class: "is-link", method: :post do %>
    <span class="icon has-text-danger is-medium">
      <i class="fas fa-heart fa-lg"></i>
    </span>
  <% end %>
<% else %>
  <%= link_to like_product_path(obj), class: "is-link", method: :post do %>
    <span class="icon is-medium">
      <i class="far fa-heart fa-lg"></i>
    </span>
  <% end%>
<% end %>