<% if obj.is_liked?(current_user) %>
  <%= link_to unlike_product_path(obj), class: "is-link", method: :post do %>
    <span class="icon has-text-danger">
      <i class="fas fa-heart"></i>
      <span><%= obj.likes.size %></span>
    </span>
  <% end %>
<% else %>
  <%= link_to like_product_path(obj), class: "is-link", method: :post do %>
    <span class="icon">
      <i class="far fa-heart"></i>
      <span><%= obj.likes.size %></span>
    </span>
  <% end%>
<% end %>